<ion-content class="ion-padding" fullscreen>
  <div style="max-width:420px; margin: 8vh auto 0;">
    <ion-card style="border-radius:16px;">
      <ion-card-header>
        <ion-card-title color="primary">Iniciar sesión</ion-card-title>
        <ion-card-subtitle>Bienvenido/a 👋</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
          <ion-input
            type="email"
            autocomplete="email"
            placeholder="Correo"
            [(ngModel)]="email"
            (keyup.enter)="login()">
          </ion-input>
        </ion-item>

        <ion-item lines="none" style="margin-top:10px;">
          <ion-icon name="lock-closed-outline" slot="start" color="primary"></ion-icon>
          <ion-input
            type="password"
            autocomplete="current-password"
            placeholder="Contraseña"
            [(ngModel)]="password"
            (keyup.enter)="login()">
          </ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="errorMsg" style="display:block; margin-top:12px;">
          {{ errorMsg }}
        </ion-text>

        <ion-button
          expand="block"
          size="large"
          color="primary"
          (click)="login()"
          [disabled]="loading"
          style="margin-top:16px; border-radius:12px;">
          <ion-spinner slot="start" *ngIf="loading"></ion-spinner>
          {{ loading ? 'Ingresando…' : 'Ingresar' }}
        </ion-button>

        <!-- Línea divisoria suave -->
        <div style="display:flex; align-items:center; gap:8px; margin:14px 0 6px;">
          <div style="flex:1; height:1px; background:rgba(0,0,0,.08)"></div>
          <small style="opacity:.6;">o</small>
          <div style="flex:1; height:1px; background:rgba(0,0,0,.08)"></div>
        </div>

        <!-- Botón para ir al registro -->
        <ion-button
          expand="block"
          fill="clear"
          [routerLink]="['/auth/register']"
          [disabled]="loading"
          style="border-radius:12px;">
          Crear cuenta
        </ion-button>
        
        <div style="text-align: center; margin-top: 10px;">
            <ion-button 
                fill="clear" 
                size="small" 
                color="medium"
                class="recovery-button"
                (click)="requestPasswordRecovery()"
                [disabled]="loading || loadingRecovery">
                Recuperar Contraseña
            </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
