# Ignorar directorios
redbarrio/.angular
/android
/node_modules
/supabase
/.vscode
/www
/platforms # (Asumido en proyectos Ionic/Angular)
/hooks # (Asumido en proyectos Ionic/Angular)
node_modules/
redbarrio/node_modules/
.angular/cache
redbarrio/.angular/cache/20.3.3/app/.tsbuildinfo
