<ion-app>
  <!-- Menú lateral global: NO se muestra en /auth/* -->
  <ion-menu
    *ngIf="!isAuth"
    side="start"
    menuId="mainMenu"
    contentId="main-content"
    type="reveal"
  >
    <ion-header class="menu-header">
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu-content">
      <ion-list lines="none" class="menu-list">
        <ion-menu-toggle auto-hide="true">
          <!-- General -->
          <ion-item button detail="false" (click)="go('/home')" *ngIf="!isActive('/home')">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>

          <ion-item button detail="false" (click)="go('/solicitar')" *ngIf="!isActive('/solicitar')">
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            <ion-label>Solicitar certificado</ion-label>
          </ion-item>

          <ion-item button detail="false" (click)="go('/votaciones')" *ngIf="!isActive('/votaciones')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>Votaciones</ion-label>
          </ion-item>

          <ion-item button detail="false" (click)="go('/inscripcion/proyectos')" *ngIf="!isActive('/inscripcion/proyectos')">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>inscribirse a proyecto</ion-label>
          </ion-item>

          <ion-item button detail="false" (click)="go('/solicitud')" *ngIf="!isActive('/solicitud')">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-label>Arrendar espacio</ion-label>
          </ion-item>

          <ion-item button detail="false" (click)="go('/espacios')" *ngIf="!isActive('/espacios')">
            <ion-icon slot="start" name="business-outline"></ion-icon>
            <ion-label>Espacios Comunitarios</ion-label>
          </ion-item>

          <!-- Admin -->
          <ion-list-header *ngIf="isAdmin">Administración</ion-list-header>

          <ion-item
            button
            detail="false"
            (click)="go('/generar/proyecto')"
            *ngIf="isAdmin && !isActive('/generar/proyecto')"
          >
            <ion-icon slot="start" name="construct-outline"></ion-icon>
            <ion-label>Generar proyecto</ion-label>
          </ion-item>

          <ion-item
            button
            detail="false"
            (click)="go('/generar/votacion')"
            *ngIf="isAdmin && !isActive('/generar/votacion')"
          >
            <ion-icon slot="start" name="list-circle-outline"></ion-icon>
            <ion-label>Generar votación</ion-label>
          </ion-item>
          <ion-item
            button
            detail="false"
            (click)="go('/noticias/crear')"
            *ngIf="isAdmin && !isActive('/noticias/crear')"
          >
            <ion-icon slot="start" name="list-circle-outline"></ion-icon>
            <ion-label>Generar noticia</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <!-- Perfil -->
      <div class="perfil-wrap">
        <ion-item button detail="false" class="perfil" (click)="go('/perfil')" *ngIf="!isActive('/perfil')">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Mi perfil</ion-label>
        </ion-item>
      </div>

      <!-- Logout -->
      <div class="logout-wrap">
        <ion-item button detail="false" class="logout" (click)="salir()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </div>
    </ion-content>
  </ion-menu>

  <!-- Donde se renderizan tus páginas -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>