<ion-header>
  <ion-toolbar>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="register()" [disabled]="loading">
    {{ loading ? 'Creando...' : 'Registrarme' }}
  </ion-button>

  <ion-button expand="block" (click)="volver()">Volver</ion-button>

  <ion-text color="danger" *ngIf="errorMsg" style="margin-top:12px;display:block">
    {{ errorMsg }}
  </ion-text>
</ion-content>
