<!-- src/app/home/home.page.html -->
<ion-header class="rb-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Debe coincidir con menuId="mainMenu" del app.component.html -->
      <ion-menu-button menu="mainMenu" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>RedBarrio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home">
  <div class="hero">
    <h1>¡Bienvenido/a!</h1>
    <p>Usa el menú (arriba a la izquierda) para navegar por la app.</p>
  </div>
</ion-content>
