<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RedBarrio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-header>
          <img src="assets/newspaper-outline.svg" alt="Icono de Solicitudes" class="custom-icon">
          <ion-card-title>Solicitudes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Apartado de solicitudes.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-header>
          <img src="assets/document-text-outline.svg" alt="Icono de Solicitudes" class="custom-icon">
          <ion-card-title>Certificados</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Apartado de certificados.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <img src="assets/bag-remove-outline.svg" alt="Icono de Solicitudes" class="custom-icon">
          <ion-card-title>Proyectos vecinales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Apartado de proyectos vecinales.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>