<ion-header class="rb-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>Inicio y Noticias</ion-title>
    
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding news">

  <div class="hero">
    <h1>¡Bienvenido/a!</h1>
    <p>Usa el menú (arriba a la izquierda) para navegar por la app.</p>
  </div>

  <div>
    <h2>Noticias</h2>
    <p>Aquí puedes ver las noticias más recientes de tu comunidad.</p>
  </div>

  <div class="loading" *ngIf="estaCargando">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando noticias...</p>
  </div>

  <ion-grid *ngIf="!estaCargando && noticias?.length">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let noticia of noticias">
        
        <ion-card (click)="verDetalle(noticia.id)">
            
          <div
            class="card-image-container"
            *ngIf="noticia.url_foto?.length">
            <img [src]="noticia.url_foto?.[0]" alt="Miniatura" class="card-image" />
          </div>

          <ion-card-header>
            <ion-card-title class="card-title ion-text-wrap">
              {{ noticia.titulo }}
            </ion-card-title>
            
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <ion-card-subtitle>
                    {{ noticia.nombre_autor || 'Anónimo' }}
                    <span *ngIf="noticia.fecha_creacion">
                        | {{ noticia.fecha_creacion | date:'shortDate' }}
                    </span>
                </ion-card-subtitle>
            </div>
            
          </ion-card-header>

          <ion-card-content>
            <p *ngIf="(noticia.parrafos?.[0]) as primerParrafo; else sinResumen"
               class="card-excerpt">
              {{ primerParrafo | slice:0:100 }}…
            </p>
            <ng-template #sinResumen>
              <p class="card-excerpt-placeholder">[Sin resumen]</p>
            </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="empty" *ngIf="!estaCargando && (!noticias || !noticias.length)">
    <h2>No hay noticias disponibles</h2>
    <p>Sé el primero en crear una noticia usando el botón flotante.</p>
  </div>
</ion-content>