<ion-app>
  <!-- Menú lateral global -->
  <ion-menu side="start" menuId="mainMenu" contentId="main-content" type="reveal">
    <ion-header class="menu-header">
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu-content">
      <!-- Si quisieras ocultar el menú en /auth/*:
      <ng-container *ngIf="!hideMenuOnAuth">
      -->
      <ion-list lines="none" class="menu-list">
        <ion-menu-toggle auto-hide="true">
          <!-- Oculta "Inicio" si ya estás en /home -->
          <ion-item button detail="false" (click)="go('/home')" *ngIf="!isActive('/home')">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>

          <!-- Oculta "Solicitar certificado" si ya estás en /solicitar -->
          <ion-item button detail="false" (click)="go('/solicitar')" *ngIf="!isActive('/solicitar')">
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            <ion-label>Solicitar certificado</ion-label>
          </ion-item>

          <!-- Oculta "Noticias" si ya estás en /noticias -->
          <ion-item button detail="false" (click)="go('/noticias')" *ngIf="!isActive('/noticias')">
            <ion-icon slot="start" name="newspaper-outline"></ion-icon>
            <ion-label>Noticias</ion-label>
          </ion-item>

          <!-- Oculta "Noticias" si ya estás en /noticias -->
          <ion-item button detail="false" (click)="go('/generar/proyecto')" *ngIf="!isActive('/generar/proyecto')">
            <ion-icon slot="start" name="newspaper-outline"></ion-icon>
            <ion-label>Generar Proyecto</ion-label>
          </ion-item>
          <!-- Oculta "Votaciones" si ya estás en /votaciones o /votacion/:id -->
          <ion-item
            button
            detail="false"
            (click)="go('/votaciones')"
            *ngIf="!isActiveAny(['/votaciones','/votacion'])">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>Votaciones</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <div class="logout-wrap">
        <ion-item button detail="false" class="logout" (click)="salir()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </div>
      <!-- </ng-container> -->
    </ion-content>
  </ion-menu>

  <!-- Debe coincidir con contentId del ion-menu -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
