/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


/* src/global.scss */

/*  SOLUCIN FINAL: FORZAR MODO CLARO Y TEXTO NEGRO EN DILOGOS DE ALERTA */

/* 1. Definici贸n general de colores para el di谩logo (fondo blanco, texto oscuro) */
.alert-md, .alert-ios {
  --background: #ffffff !important;
  --color: var(--rb-text) !important; 
  --ion-background-color: #ffffff !important;
}

/* 2. Correcci贸n principal: Forzar el color del texto de las opciones a NEGRO */
.alert-md [role="radio"] .alert-radio-label,
.alert-ios [role="radio"] .alert-radio-label {
    color: var(--rb-text) !important;
    opacity: 1 !important;  /* Desactiva la reducci贸n de opacidad del modo oscuro */
}

/* 3. Estilos de los botones (CANCEL, OK) */
.alert-button {
  color: var(--rb-primary) !important; 
  font-weight: 600;
}

/* 4. Estilos de los c铆rculos de selecci贸n */
.alert-radio-icon {
  border-color: var(--rb-muted) !important;
}
.alert-radio-icon.alert-radio-checked {
  border-color: var(--rb-primary) !important;
}
.alert-radio-inner {
  background: var(--rb-primary) !important;
}

/* 5. Asegura que los contenedores internos tambi茅n usen el fondo blanco */
.alert-wrapper {
    background: #ffffff !important;
    --background: #ffffff !important;
    --ion-background-color: #ffffff !important;
}