<ion-header>
  <ion-toolbar>
    <ion-title>RedBarrio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirMenuUsuario()">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-grid">
    <ion-card class="custom-card" button (click)="solicitudes()">
      <ion-card-header>
        <ion-card-title>Solicitudes</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="custom-card" button (click)="noticias()">
      <ion-card-header>
        <ion-card-title>Noticias</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="custom-card" button (click)="calendario()">
      <ion-card-header>
        <ion-card-title>Calendario vecinal</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>