#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.texto-personalizado{
  color: #800080;
  font-weight: bold;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas */
  gap: 12px; /* espacio entre tarjetas */
  padding: 10px;
}

.custom-card {
  border-radius: 20px; /* bordes redondeados */
}
